body {
    padding-top: 54px;
    font-family: sans-serif;
    background-color: white;
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

@media (min-width: 992px) {
    body {
        /*padding-top: 56px;*/
    }
}
.navBartext{
    color:#ebebeb !important;
    font-weight: 500 !important;
}
#mainNavbar{
    background-color: #86BCFF !important;
}
.navbarText{
    padding-left: 15px;
    padding-right: 15px;
    font: Calibri;
    font-size: 20px;
}